<p id="notice"><%= notice %></p>

<p>
  <strong>License:</strong>
  <%= @ahoogah.License %>
</p>

<p>
  <strong>State:</strong>
  <%= @ahoogah.State %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @ahoogah.Comment %>
</p>

<p>
  <strong>Tag1:</strong>
  <%= @ahoogah.Tag1 %>
</p>

<p>
  <strong>Tag2:</strong>
  <%= @ahoogah.Tag2 %>
</p>

<p>
  <strong>Tag3:</strong>
  <%= @ahoogah.Tag3 %>
</p>

<%= link_to 'Edit', edit_ahoogah_path(@ahoogah) %> |
<%= link_to 'Back', ahoogahs_path %>
